[submodule "jgraphx"]
	path = jgraphx
	url = https://github.com/slisson/jgraphx.git
[submodule "adaptagrams"]
	path = adaptagrams
	url = https://github.com/slisson/adaptagrams.git
[submodule "definitionLanguage"]
	path = definitionLanguage
	url = https://github.com/alperovich/diagramEditor.git
